@import 'src/assets/styles/variables';

.topCardItemNoData {
	min-height: 185px;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 16px;
	& p {
		margin: auto;
		text-align: center;
		color: $red;
	}

	& button {
		border-color: transparent !important;
	}
}
