@import 'src/assets/styles/variables';

.box {
	flex-grow: 1;
	padding: 32px;
	width: 100%;
}

.topCardItem {
	min-height: 185px;
	padding: 20px 16px;
	border-radius: 12px;
}

.coinName {
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-transform: capitalize;
	display: flex;
	& img {
		margin-left: 10px;
	}
}

.coinDetails {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

.coinPrice {
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}

.priceTrend {
	max-width: 95px;
	display: flex;
	align-items: center;
	padding: 3px 4px;
	border-radius: 4px;

	font-size: 14px;

	& p {
		margin-left: 10px;
	}
}

.trendUp {
	background-color: #a9ffa7;
	color: #037400;
}

.trendDown {
	background-color: #ffa7a7;
	color: #740000;
}

.chartContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.areaChart {
	margin-bottom: 32px;
}

.lineChartBlock {
	padding: 20px 16px;
	min-height: 270px;
	border-radius: 12px;
}
