@import 'src/assets/styles/variables';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.appBar {
	position: static;
	box-shadow: none;
}

.toolBar {
	padding: 25px 45px;
	justify-content: space-between;
}

.menuIcon {
	cursor: pointer;
}

.nameBlock {
	margin-left: 20px;
}

.panelBlock {
	display: flex;
	align-items: center;
}

.panelBlockInner {
	padding-right: 37px;
}

.iconTheme {
	margin-right: 20px;
}

.searchBlock {
	display: flex;
	border-radius: 8px;
	margin-left: 28px;
	max-height: 48px;
}

.iconSearch {
	&:hover {
		background-color: transparent;
	}
}

.input {
	padding: 12px 18px;
}
