@import 'src/assets/styles/variables';

.form {
	position: relative;
	max-width: 504px;
	width: 100%;
	height: 60px;
}

.input {
	max-width: 504px;
	width: 100%;
	height: 60px;
	color: #fff;
	background-color: #241b27;

	border-radius: 40px;
	border: 1px solid #3e2e40;

	padding: 20px 182px 20px 32px;
	font-size: 16px;
}

.input::placeholder {
	font-size: 16px;
	font-weight: 300;
	background: linear-gradient(
		to right,
		rgba(234, 200, 242, 1) 0%,
		rgba(230, 173, 236, 1) 33%,
		rgba(212, 158, 232, 1) 66%,
		rgba(202, 151, 230, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn {
	max-width: 168px;
	width: 100%;
	min-height: 48px;
	border-radius: 40px;
	padding: 16px, 28px, 16px, 28px;
	color: $black;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;

	background-color: $purple;
	position: absolute;
	top: 6px;
	right: 6px;

	cursor: pointer;
}

.icon {
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}

.error {
	color: $red;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-left: 30px;
	margin-top: 12px;
}
