.singleCoin {
	padding: 5px;
	display: flex !important;
	align-items: center !important;
}

.coinName {
	display: flex !important;
	justify-content: center !important;
	width: auto;
	height: auto;
	margin: 50px 0px;
}

.container {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-wrap: wrap !important;
}

.card {
	display: flex !important;
	justify-content: center !important;
	min-width: 320px;
	margin: 0 auto;
}

.cardItem {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	padding: 20px 16px;
	width: 100%;
	max-width: 500px;
	min-height: 140px;
	margin-bottom: 10px;
	border-radius: 12px;
}

.coinIcon {
	margin-right: 5px;
}

.coinSymbol {
	font-size: 20px;
	font-weight: 600;
}

.coinTitle {
	font-size: 20px;
	font-weight: 600;
	margin-right: 12px;
}

.coinPriceDetail {
	font-size: 18px;
	font-weight: 400;
}

.trendUp {
	color: #a9ffa7;
	/* color: #037400; */
}

.trendDown {
	color: #ffa7a7;
	/* color: #740000; */
}

.cardBtnBlock {
}

.cardBtn {
	width: 160px;
	/* background-color: #1900d5 !important; */
	margin: 20px 10px 10px 10px;
}

.btnNoActive {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (max-width: 310px) {
	.card {
		padding: 0px 16px;
	}
}
