.tableContainer {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.topListTable {
	min-height: 60px;
	border-radius: 12px;
}

.warning {
	margin: auto;
}

.watchlistName {
	display: flex !important;
	justify-content: center !important;
	width: auto;
	height: auto;
	margin: 40px 0px;
}
