@import 'src/assets/styles/variables';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navBlock,
.logoutBlock {
	width: 100%;
}

.brand {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 30px 15px;
	cursor: pointer;

	& .logo {
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
}

.list {
	margin-bottom: 55px;
}

.navItemBtn {
	border-radius: 4px !important;
	&:hover {
		color: $white !important;
		background-color: $blue !important;

		& .iconNavItem {
			color: $white !important;
		}
	}
}

.navItemBtnActive {
	color: $white !important;
	background-color: $blue !important;

	& .iconNavItem {
		color: $white !important;
	}
}
