.tableContainer {
	border-radius: 12px !important;
	padding: 20px 16px;
}

.cellName {
	& span {
		margin-right: 5px;
	}
}

.trendUp {
	color: #a9ffa7;
	/* color: #037400; */
}

.trendDown {
	color: #ffa7a7;
	/* color: #740000; */
}
