.newsBlockContainer {
	padding: 32px;

	& a {
		text-decoration: none;
	}
}

.blockTitle {
	text-align: center !important;
	margin-bottom: 32px;
}

.newsContent {
	max-width: 660px !important;
	margin-left: 20px !important;
	display: flex !important;
	flex-direction: column !important;
}

.newsBlock {
	padding: 20px 16px;
	margin-bottom: 32px;
	min-height: 270px;
	border-radius: 12px;

	display: flex !important;
}

.newsTitle {
	margin-bottom: 10px;
	& p {
		font-size: 20px;
		font-weight: 700;
	}
}

.newsCategories {
	margin-bottom: 10px;
	color: #787878;

	& p {
		font-size: 12px;
	}

	& span {
		letter-spacing: 2px;
	}
}

.newsText {
	margin-bottom: 30px;
	& p {
		font-size: 16px;
	}
}

.readMore {
	justify-self: flex-end;
	text-align: start;
}

@media (max-width: 780px) {
	.newsBlock {
		display: flex !important;
		flex-direction: column !important;
		justify-content: space-between !important;
		align-items: center !important;

		& img {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 380px) {
	.blockTitle {
		margin-top: 20px;
		margin-bottom: 32px;
	}

	.newsBlockContainer {
		padding: 0px;
	}

	.newsBlock {
		padding: 10px 8px;
		margin: 0 auto;
		width: 90%;
		margin-bottom: 32px;
	}

	.newsBlock {
		& img {
			margin: 0 auto;
			width: 70%;
			margin-bottom: 20px;
		}
	}

	.newsTitle {
		& p {
			font-size: 18px;
		}
	}

	.newsText {
		& p {
			font-size: 14px;
		}
	}
}
