@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

// main colors
$white: #faf9fa;
$black: #000000;

// extra colors
$blue: #1900d5;
$mint: #a9ffa7;
$lime: #c1ef00;
$grey: #3c3c3c;
$grey-light: #7c7c7c;
$red: #e8502f;

// fonts
$default-font-family: 'Poppins';
$default-font-weight: 400;

// shadow
$box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

$desktop: 1440px;
$tablet: 880px;
$mobile: 480px;
