@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

// main colors
$white: #faf9fa;
$black: #0e0a0f;
$grey: #f1f4f9;

// extra colors
$blue: #002cfb;
$grey-light: #faf9fa;
$purple: #9966ff;
$red: #f04242;

// fonts
$default-font: 'Roboto';

// shadow
$box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

$desktop: 1440px;
$tablet: 880px;
$mobile: 480px;
